<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook Read Page</h1>
        <div class="form-group">
            <label>id</label>
            <input type="text" class="form-control" name="id" th:value="${dto.id}" readonly>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="5" name="content" readonly>
                    [[${dto.content}]]
                </textarea>
        </div>
        <div class="form-group">
            <label>Writer</label>
            <input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
        </div>
        <div class="form-group">
            <label>RegDate</label>
            <input type="text" class="form-control" name="regDate"
                   th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label>ModDate</label>
            <input type="text" class="form-control" name="modDate"
                   th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <a th:href="@{/guestbook/modify(id=${dto.id}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary">수정</button>
        </a>
        <a th:href="@{/guestbook/list(page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-info">목록</button>
        </a>
        <p>
        </p>
        <div>
            <div class="mt-4">
                <h5><span class="badge alert-info addReply">Add Reply</span></h5>
                <h5><span class="badge alert-success replyCount">Reply Count [[${dto.replyCount}]]</span></h5>
            </div>
        </div>
        <div class="list-group replyList">

        </div>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-control">
                            <input class="form" type="text" name="replyText" placeholder="Reply Text...">
                        </div>
                        <div class="form-control">
                            <input class="form-control" type="text" name="replyer" placeholder="Replyer">
                            <input type="hidden" name="rno">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger replyRemove">Remove</button>
                        <button type="button" class="btn btn-warning replyModify">Modify</button>
                        <button type="button" class="btn btn-primary replySave">Save</button>
                        <button type="button" class="btn btn-outline-secondary replyClose">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            $(document).ready(function () {
                var id = [[${dto.id}]];

                console.log(id);

                var listGroup = $(".replyList");

                function formatTime(str) {
                    var date = new Date(str);

                    return date.getFullYear() + '/' +
                        (date.getMonth() + 1) + '/' +
                        date.getDate() + ' ' +
                        date.getHours() + ':' +
                        date.getMinutes();
                }

                function loadJSONData() {
                    $.getJSON('/replies/guestBook/' + id, function (arr) {
                        console.log(arr);

                        var str = "";

                        $('.replyCount').html(" Reply Count  " + arr.length);

                        $.each(arr, function(idx, reply) {
                            console.log(reply);

                            str += ' <div class="card-body" data-id="'+reply.id+'"><b>' + reply.id + '</b>';
                            str += ' <h5 class="card-title">' + reply.text + '</h5>';
                            str += ' <h6 class="card-subtitle mb-2 text-muted">' +  reply.replyer + '</h6>';
                            str += ' <p class="card-text">' + formatTime(reply.regDate) + '</p>';
                            str += ' </div>';
                        });

                        listGroup.html(str);
                    })
                }

                $(".replyCount").click(function () {
                    loadJSONData();
                });

                var modal = $('.modal');

                $(".addReply").click(function() {
                    modal.show();

                    $('input[name="replyText"]').val('');
                    $('input[name="replyer"]').val('');

                    $(".modal-footer .btn").hide();
                    $(".replySave, .replyClose").show();
                });

                $(".replySave").click(function () {
                    var reply = {
                        guest_book_id: id,
                        text: $('input[name="replyText"]').val(),
                        replyer: $('input[name="replyer"]').val(),
                    }
                    console.log(reply);

                    $.ajax({
                        url: '/replies/',
                        method: 'post',
                        data: JSON.stringify(reply),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function(data) {
                            console.log(data);

                            var newRno = parseInt(data);
                            alert(newRno + "번 댓글이 등록되었습니다.")
                            modal.hide();
                            loadJSONData();
                        }
                    })
                });
            });


        </script>
    </th:block>
</th:block>